#Día 3

##Temario
- Listas
- Tuplas
- Sets
- Diccionarios

#Estructuras de datos
Las estructuras de datos son formas de organizar información para trabajar con ella de manera eficiente.

- Listas => ordenadas, modificadas, permiten duplicados
- Tuplas => ordenadas, inmutables, permiten duplicados
- Sets => no ordenadas, sin duplicados
- Diccionarios => pares clave:valor

Nota:
- Pilas  (FILO => First in, Last Out)
- Colas   (FIFO => First in, First Out)
- Listas enlazadas (o doblemente enlazadas)

##Listas
Las listas son colecciones ordenadas que se pueden modificar y almacenan elementos de distintos tipos de datos.

In [ ]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [ ]:
print(lista_de_compras[6])

jamón

In [ ]:
#Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
#Agregar un elemento en una posición específica con .insert()
lista_de_compras.insert(1,"plátano")
print(lista_de_compras)

#Si se vuelve a correr el programa se va a duplicar el elemento

['manzanas', 'plátano', 'plátano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
#Para eliminar un elemento de una lista existen el .remove() y el .pop()
lista_de_compras.remove("plátano")
print(lista_de_compras)

['manzanas', 'plátano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [ ]:
lista_de_compras.pop() #Sin nada dentro del paréntesis borra el último elemento de la lista
lista_de_compras.pop(7) #Con un int dentro borra el elemento de la posición indicada INICIANDO DESDE CERO
#el .pop() retorna el valor eliminado que se puede guardar dentro de una variable

'jamón'

In [ ]:
#Podemos recorrer el arreglo por medio de un for
var = "Python"
var[0]

for elementos in lista_de_compras:
  print(elementos)

manzanas
plátano
pan
leche
huevos
mantequilla
queso

In [ ]:
#len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i+1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - plátano
3 - pan
4 - leche
5 - huevos
6 - mantequilla
7 - queso

In [ ]:
promedio = [55.6, 97.5, 23.6, 97.5, 72.4, 100]
print(promedio)
promedio.sort()    #.sort() Ordena una lista/arreglo de forma ascendente (valor y posición)
print(promedio)
#ordenar una lista de manera descendente
promedio.sort(reverse=True)
print(promedio)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [ ]:
#Podemos ingresar al último elemento de una lista
print(promedio[-1])

23.6

In [ ]:
#Encontrar el mayor y el menor de una lista
print(max(promedio))
print(min(promedio))

100
23.6

In [ ]:
#Declaración y uso de matrices
calificaciones = [[100, 88, 93], [99, 56, 72]]
print(calificaciones)
i = 1
for cali_i in calificaciones:
  print(f"Alumno{i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j} : {cali_j}")
    j+=1
  j+=0
  i+=1

[[100, 88, 93], [99, 56, 72]]
Alumno1
Cali 1 : 100
Cali 2 : 88
Cali 3 : 93
Alumno2
Cali 1 : 99
Cali 2 : 56
Cali 3 : 72

##Tuplas
Son colecciones ordenadas pero inmutables

In [ ]:
#Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05", "22/03/02", "17/04/04", "25/02/04")
print(fechas)

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [ ]:
#ES INMUTABLE
fechas.append("10/06/03")    #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) #ESTO SE VA A PODER EDITAR
print(fecha_lista)

['10/10/05', '22/03/02', '17/04/04', '25/02/04']

##Sets
Los sets son colecciones SIN orden y que NO permiten elementos duplicados

In [ ]:
nombres = {"Ángel", "Eliud", "Diana", "Josué", "Carmina", "Juan", "Juan"}
print(nombres)
print(type(nombres))

{'Juan', 'Diana', 'Eliud', 'Josué', 'Carmina', 'Ángel'}
<class 'set'>

In [ ]:
distintos_datos = {"Ángel", 1, "Diana", 4.8, "Carmina", "Juan", "Juan"}
print(distintos_datos)

{1, 'Juan', 4.8, 'Diana', 'Carmina', 'Ángel'}

In [ ]:
# Add
nombres.add("Leonardo")
print(nombres)

{'Juan', 'Leonardo', 'Diana', 'Eliud', 'Josué', 'Carmina', 'Ángel'}

In [ ]:
#Unión
matutino = {20322, 22183, 13245, 86754}
vespertino = {20322, 14352, 67534, 22183}
#unión usando .union()
total_matriculas = matutino.union(vespertino)
print (total_matriculas)
#unión usando |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 86754, 22183, 67534, 14352, 13245}
{20322, 86754, 22183, 67534, 14352, 13245}

In [ ]:
#Intersección
ca = {1221, 458, 326, 524, 896, 21}
al = {998, 273847, 1221, 326, 587, 45}
#intersección usando .intersection()
ca_al = ca.intersection(al)
print(ca_al)
#Intersección usando &
ca_al = ca & al
print(ca_al)

{1221, 326}
{1221, 326}

In [ ]:
#Diferencia
ca = {1221, 458, 326, 524, 896, 21}
al = {998, 273847, 1221, 326, 587, 45}
#diferencia usando .difference()
solo_calculo = ca.difference(al)
print(solo_calculo)
#diferencia usando -
solo_calculo = ca - al

{896, 458, 524, 21}

In [ ]:
nombres = {"Ángel", "Eliud", "Diana", "Josué", "Carmina", "Juan", "Juan"}
#quitar elementos usando el .remove()
nombres.remove("Juan")   #debes ingresar el elemento que quieres eliminar
print(nombres)
#quitar elementos usando el .pop()
nombres.pop()     #elimina a alguien al azar
print(nombres)

{'Diana', 'Eliud', 'Josué', 'Carmina', 'Ángel'}
{'Eliud', 'Josué', 'Carmina', 'Ángel'}

In [ ]:
#Eliminar todo el SET usando .clear()
nombres.clear()
print(nombres)

set()

##Diccionarios
Son colecciones NO ordenadas de pares clave:valor

In [ ]:
alumno = {
    #clave    #valor
    "nombre" : "Josué Garza",
    "edad" : 18,
    "carrera": "IMTC",
    "semestre": 1,
    "promedio": 95,
    "calificaciones": [100, 89, 95, 99, 86]
}
print(alumno)
print(type(alumno))

{'nombre': 'Josué Garza', 'edad': 18, 'carrera': 'IMTC', 'semestre': 1, 'promedio': 95, 'calificaciones': [100, 89, 95, 99, 86]}
<class 'dict'>

In [ ]:
print("El alumno",alumno["nombre"], "está estudiando",alumno['carrera'])

El alumno Josué Garza está estudiando IMTC

In [ ]:
#Agregar nuevas áreas al diccionario
alumno["área preferida"] = "Programación aplicada a la robótica"
print(alumno)

{'nombre': 'Josué Garza', 'edad': 18, 'carrera': 'IMTC', 'semestre': 1, 'promedio': 95, 'calificaciones': [100, 89, 95, 99, 86], 'área preferida': 'Programación aplicada a la robótica'}

In [ ]:
for valor in alumno:
  print(alumno[valor])

Josué Garza
18
IMTC
1
95
[100, 89, 95, 99, 86]
Programación aplicada a la robótica

In [ ]:
for aspecto, valor in alumno.items():   #.items() devuelve una vista de todos los pares clave:valor del diccionario
  print(aspecto, ":", valor)

nombre : Josué Garza
edad : 18
carrera : IMTC
semestre : 1
promedio : 95
calificaciones : [100, 89, 95, 99, 86]
área preferida : Programación aplicada a la robótica

In [ ]:
#El método .clear también se puede usar aquí, no va a eliminar la variable (alumno), pero sí su información.
#Tenemos el .get() que nos ayuda a obtener el valor (value) de una cierta clave (key)
print(alumno.get("edad"))

18

In [ ]:
alumno = {
    #clave    #valor
    "nombre" : "Josué Garza",
    "edad" : 18,
    "carrera": "IMTC",
    "semestre": 1,
    "promedio": 95,
    "calificaciones": [100, 89, 95, 99, 86]
}
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Josué Garza'), ('edad', 18), ('carrera', 'IMTC'), ('semestre', 1), ('promedio', 95), ('calificaciones', [100, 89, 95, 99, 86])])
<class 'dict_items'>
[('nombre', 'Josué Garza'), ('edad', 18), ('carrera', 'IMTC'), ('semestre', 1), ('promedio', 95), ('calificaciones', [100, 89, 95, 99, 86])]
<class 'list'>

In [ ]:
#El método .values() sirve para obtener los valores de un diccionario, también se puede usar en la iteración
alumno_v = alumno.values()
print(type(alumno_v))
print(alumno_v)

<class 'dict_values'>
dict_values(['Josué Garza', 18, 'IMTC', 1, 95, [100, 89, 95, 99, 86]])

In [ ]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if "dinero" in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [ ]:
#.copy() puedes copiar todo el diccionario en una nueva variable
#.update() permite cambiar el diccionario, sea tan sólo un value, o bien, también un value y su key
alumno.update({"semestre":8})
print(alumno)

{'nombre': 'Josué Garza', 'edad': 18, 'carrera': 'IMTC', 'semestre': 8, 'promedio': 95, 'calificaciones': [100, 89, 95, 99, 86]}

In [13]:
#Código opcional
import random      #permite acceder a las funciones de random (en este caso random choice de las opciones que vamos a definir)
opciones = ["piedra", "papel", "tijeras"]

while True:
  while True:
    eleccion = input("\n Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ")
    if eleccion not in opciones and not eleccion == "salir":
      print("Opción no válida, intenta de nuevo")
    else:
      break
  if eleccion == "salir":
    print("¡Gracias por jugar!")
    break
  else:
     aleatoria = random.choice(opciones)
     print("La computadora eligió:",  aleatoria)

#Para determinar al ganador
  if eleccion == aleatoria:
    print("Empate")
  elif eleccion == "piedra" and aleatoria == "tijeras" or eleccion == "papel" and aleatoria == "piedra" or eleccion == "tijeras" and aleatoria == "papel":
    print("Ganaste")
  else:
    print("Perdiste")

 Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligió: piedra
Empate

 Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligió: papel
Empate

 Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): tijeras
La computadora eligió: papel
Ganaste

 Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): fruta
Opción no válida, intenta de nuevo

 Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¡Gracias por jugar!

In [20]:
#lista de productos
productos = ["manzana", "plátano", "leche", "pan"]

#tupla de precios
precios = (10, 5, 20, 15)

#Diccionario de inventario: producto -> {"precio": x, "stock": y}
inventario = {productos[i]: {"precio": precios[i], "stock": 10} for i in range(len(productos))}
#<-- DICCIONARIO
#Clave: Nombre del producto
#Valor: Otro diccionario que incluye "precio" y "stock"

#Set de productos en oferta
ofertas = {"manzana", "pan"}   #<--- SET

#Mostrar productos
for p in productos:
  msg = "¡OFERTA!" if p in ofertas else "Grandes precios"
  info = inventario[p]
  print(f"{p.title()} - ${info["precio"]} - Stock: {info["stock"]} -> {msg}")

#Compra simple

compra = input("\n¿Qué producto quieres comprar? ")
if compra in inventario and inventario[compra]["stock"] > 0:
  inventario[compra]["stock"] -= 1
  print(f"Compraste 1 {compra}. Stock restante: {inventario[compra]["stock"]}")
else:
  print("Producto no disponible")

Manzana - $10 - Stock: 10 -> ¡OFERTA!
Plátano - $5 - Stock: 10 -> Grandes precios
Leche - $20 - Stock: 10 -> Grandes precios
Pan - $15 - Stock: 10 -> ¡OFERTA!

¿Qué producto quieres comprar? pan
Compraste 1 pan. Stock restante: 9