#DÍA
##Temario:

-Tipos de datos
-Operaciones matemáticas
-Operaciones con String
-Operaciones lógicas
-Operaciones booleanas

##Tipos de datos
#Existen los datos

enteros = 4
flotantes= 9.9

#Caracteres

In [ ]:
enteros = 1
type(enteros)
flotante = 3.95
type(flotante)
cadena_caracteres = "1095"
type(cadena_caracteres)

str

#booleanos

In [ ]:
Falso = False # falso es 0
Verdadero = True #verdadero es 1

In [ ]:
print(enteros)

1

### Espera, el usuario tambíen puede ingresar datos

In [ ]:
name = input("Mi nombre es: ")
print(name)

num = int(input("Ingresa un número: "))
print(num + 1)

Mi nombre es: Aarón
Aarón
Ingresa un número: 4
5

In [1]:
print(3+4)
variable1,variable2 = 20,40
print(variable1 + variable2)

#resta ordinaria
print(2-5)
#Declaración de variables
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado)

7
60
-3
4.6

In [3]:
#Tercer nivel de importancia

##Multiplicación ordinaria
print("Multiplicación ordinaria: ")
M1, M2 = 2,3.14
print(M1*M2)
##División ordinaria
print("--------------------------")
print("División ordinaria: ")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1/M2)
print(M3/M4)
print(M5/M6)

print("------------------")
print("División de piso: ")
print(M1//M2)
print(M3//M4)
print(M5//M6)

Multiplicación ordinaria:
6.28
--------------------------
División ordinaria:
0.4
1.2
0.8
------------------
División de piso:
0
1
0

In [6]:
#Potencias
print("Potencias")
print(2**3)
P1,P2 = 7,2
print(P1**P2)
print(27**(1/3))

Potencias
8
49
3.0

In [7]:
#Área de un círculo
pi = 3.14
r = 4
A = pi * r ** 2
print(A)

50.24

In [8]:
#Operaciones con String
HM = "Hola Mundo"
print(HM)
a,b = "ta","co"
print(a+b)

Hola Mundo
taco

In [9]:
#Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesión
Animal = "Pingüino"
Nombre = "Paquito"
Fruta = "Uvas"
Profesión = "Detective"
print(f"Hola soy {Nombre} y soy un {Animal}, me gustan las {Fruta} y soy {Profesión}")

Hola soy Paquito y soy un Pingüino, me gustan las Uvas y soy Detective

In [15]:
#Operaciones lógicas o con booleanos
#<,>,<=,>=,and,or
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 >= 14
b3

False

In [16]:
#Quieres un sándwich con todo
pan = True
queso = True
jamón = False
mayonesa = True
print(pan and queso and mayonesa and jamón)

False

In [17]:
print(True * 20)
print(False * 10)

20
0